<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul style="line-height: 2em;">
        <li><a href="/getCalories/view">Pegar calorias</a></li>
        <li><a href="/setFiles/view">Upload de arquivos</a></li>
        <li><a href="/deleteSavedMedia/view">Deletar mídias pocessadas</a></li>
        <li><a href="/getItems/view">Pegar Itens</a></li>
    </ul>
</body>
</html>